.game {
    width: 255px;
    font-family: system-ui;
    text-align: center;
    color: white;
    margin: auto;
    font-weight: 700;
}

.title {
    background: crimson;
    padding: 5px 0;
    margin: 5px;
}

span {
    color: black;
    font-weight: 800;

}

.square {
    width: 80px;
    height: 80px;
    margin: 2px;
    background: crimson;
    float: left;
    font-size: 50px;
}

.square:hover {
    background: black;
    cursor: pointer;
}
